<div class="container d-flex my-5">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1>Welcome to Municipalities-App</h1>
      <p class="text-secondary">
        In this application, you can create Issues appeals that will later be reviewed by your municipality. Additional functionality will be implemented a little later!
      </p>
      <p class="text-secondary">
        We are happy to see you!
      </p>

      <h3 class="mt-5">Project info</h3>

      <div class="d-flex gap-2">
        <p class="text-secondary">
          You can find information about the project in the Footer “About Project” as well as on the “About” button.
        </p>
        <p><%= link_to 'About', about_page_path, class: 'btn btn-outline-dark' %></p>
      </div>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <%= image_tag 'home_image.jpg', alt: 'Municipalities', class: 'img-fluid rounded' %>
    </div>
  </div>
</div>
