<div class="container d-flex my-5">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1>Welcome to Municipalities-App</h1>
      <p class="text-secondary">
        In this application, you can create Issues appeals that will later be reviewed by your municipality. Additional functionality will be implemented a little later!
      </p>
      <p class="text-secondary">
        We are happy to see you!
      </p>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <%= image_tag 'home_image.jpg', alt: 'Municipalities', class: 'img-fluid rounded' %>
    </div>
  </div>
</div>
