.issue-btn {
  max-width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}

.issue-button-group {
  gap: 10px;
}
